<div class="container"> 

            <div class="mr-auto bg-light p-5">
            {{#if products}}
                <h5>List of products</h5>

                <table class="table bg-white">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Thumbnail</th>
                    </tr>
                    </thead>
                    <tbody id="product-table">
                        {{#each products}}
                        <tr>
                            <th scope="row">{{this.id}}</th>
                            <td>{{this.name}}</td>
                            <td>${{this.price}}</td>
                            <td><img style="width:100px;" src="{{this.thumbnail}}" alt=""></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            {{else}}
                <div class="alert alert-danger" role="alert">
                    No products have been found
                </div>
            {{/if}}

            </div>


           
        </div>